

h1 {
    border-bottom: .1em solid gray;
    margin-top: 0;
    padding-bottom: .5em;
}

.loggedInAs {
    width: 100%;
    text-align: center;
    margin: 2em 0 1em 0;
}

.cartItem {
    margin: 1.2em 0;
    padding-bottom: 1.2em;
    border-bottom: 1px solid lightgray;
    overflow: auto;
}

.cartFirstLine {
    display: block;
    margin-bottom: 1.7em;
    overflow: auto;
}

.cartItemName {
    float: left;
    
}

.cartItemPrice {
    float: right;
    text-align: right;
}

.cartQty {
    clear: both;
    float: left;
    width: 3em;
}

.cartQty input {
    text-align: center;
}

.cartUpdate {
    float: left;
    margin-top: 1em;
    margin-left: 1em;
}

.cartSub {
    float: right;
    text-align: right;
    margin-top: .2em;
}

.cartSub strong {
    font-size: .9em;
    display: block;
}

.cartRemove {
    clear: both;
    float: right;
    margin-top: .2em;
}

.repeat {
    float: left;
    width: 100%;
}

.repeatSmall {
    float: left;
}

.cartRepeatPrice {
    float: right;
    text-align: right;
    margin-top: 1.2em;
    display: none;
}

.info {
    width: 100%;
    display: block;
    font-size: .7em;
    color: gray;
    text-align: center;
    clear:both;
}

.cartTotal {
    font-size: 1.2em;
    overflow: auto;
}

.totalLabel {
    float: right;
    font-weight: bold;
    margin-right: 1.2em;
}

.totalWORepeat {
    float: right;
}

.totalWRepeat {
    float: right;
}

.delivery {
    clear: both;
    width: 100%;
    text-align: center;
    margin: 2em 0;
}

.payEdit {
    display: block;
    width: 100%;
    margin: 2em auto 0;
    text-align: right;
    font-size: .8em;
}

.confirmItem {
    margin: 1.2em 0;
    padding-bottom: 1.2em;
    border-bottom: 1px solid lightgray;
    overflow: auto;
    font-size: .9em;
}

.confirmItemName {
    float: left;
}

.confirmFirstLine {
    display: block;
    overflow: auto;
}

.confirmQty {
    font-weight: bold;
    float: right;
    margin-right: 1em;
    margin-top: .2em;
    background-color: lightgray;
    padding: .3em .8em;
}

.confirmItemPrice {
    float: right;
    text-align: right;
}

.confirmSub {
    float: right;
    text-align: right;
}

.confirmSub strong {
    font-size: .9em;
    display: block;
}

.confirmQtyNum {
    font-size: 1.2em;
}

.show {
    display: inline;
}

.hide {
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: .8em;
    padding: 2.5em 0;
    background-color: lightgray;
    border-top: 2px solid gray;
    line-height: 1.5em;
    color: gray;
    text-shadow: none;
    margin-top: 2em;
}

.footer a {
    color: #6E93B8 !important;
    text-shadow: none !important;
}

.footerLinks {
    margin: 0 0 2em;
}

.footerLinks a {
    margin: 0 .3em;
}

.fullSiteLink {
    margin-top: 1.5em;
}