﻿.itemname {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: left;
	padding-left: 15px;
	padding-top: 5px;
}
.itemnumber {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: left;
	padding-top: 5px;
	padding-left: 15px;
}
.itemdescription {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}
.itemnamethumb {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
}
.piccenter {
	padding-left: 20px;
}
.itempricethumb {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
}
.itempricethumbdescript {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
}
.itemprice {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
.instructtext {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 2px;
}
.headerline {
	background-image: url(images/prodpage-grad-line.jpg);
}
.itemnumberthumb {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000;
	text-decoration: none;
	text-align: center;
	padding-top: 5px;
	padding-left: 0px;
}

.list a{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    color: #a22;
    text-decoration: none;
    padding: 5px;
    display: block;
    border-bottom: 5px transparent solid;
}

.list a:hover {
    color: #FFF;
    background: #080;
    padding: 5px;
    border-bottom: 5px #050 solid;
}

.list a:active {
    margin-top: 3px;
    border-bottom: 2px #050 solid;
}

.banner {
    width: 780px;
    height: 135px;
    position: relative;
    border-bottom: 12px solid #AB302B;
    border-radius: 10px 10px 0 0 ;
    box-shadow: 0 4px 8px 2px rgba(0,0,0, 0.6);
    z-index: 100;
    
    background: rgb(107,182,121);
    background: -moz-linear-gradient(left,  rgba(107,182,121,1) 0%, rgba(20,103,32,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(107,182,121,1)), color-stop(100%,rgba(20,103,32,1)));
    background: -webkit-linear-gradient(left,  rgba(107,182,121,1) 0%,rgba(20,103,32,1) 100%);
    background: -o-linear-gradient(left,  rgba(107,182,121,1) 0%,rgba(20,103,32,1) 100%);
    background: -ms-linear-gradient(left,  rgba(107,182,121,1) 0%,rgba(20,103,32,1) 100%);
    background: linear-gradient(to right,  rgba(107,182,121,1) 0%,rgba(20,103,32,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb679', endColorstr='#146720',GradientType=1 );

}

.bannerInnerWrap {
    overflow-x: hidden;
    height: 165px;
    border-radius: 10px 10px 0 0 ;
}

.bannerWrap {
    height: 155px;
    position: relative;
    z-index: 99;
    background: white;
    overflow-y: visible;
    border-radius: 10px 10px 0 0 ;
}

.subTitle {
    padding-top: 50px;
    padding-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; 
    font-size: 35px; 
    font-style: italic; 
    font-weight: bold;
    text-shadow: -1px 0px 1px #b22, 1px 0px 1px #b22, 0px 1px 1px #b22, 0px -1px 1px #b22;
}

#countdown_container { margin-bottom: 10px; }
#countdown_container p {
    margin: 0;
}

#countdown_container p:first-child {
    font-weight: bold;
    color: #008000;
}

#countdown_container p.green {
    font-weight: bold;
    color: #008000;
}

#countdown_container p.red {
    font-weight: bold;
    color: red;
}

#countdown_container p + p {
    margin-top: 5px;
}

.digit {
    display: inline-block;
    background: #000000;
    color: white;
    padding: 1px 4px 1px 4px;
    border: 1px solid #EADCB9;
    font-size: 20px;
}