#leftnav {
	width: 150px;
	font-size: 10px;
	vertical-align: top;
	font-size: 80%;
}

ul, ol {
	font-family: Verdana, Geneva, sans-serif;
}

#leftnav a {
	/*/*/padding: 3px;
	display: table-cell;
	border: 1px solid #CCC;
	text-decoration: none;
	line-height: 1em;
	width: 150px; /* */
        z-index: 1;
        padding: 8px 5px;
        position:relative;
}

#leftnav a:link, #leftnav a:visited {
	color: #666;
}

#leftnav a:hover, #leftnav a:active {
	color: #FFFFFF;
	background-color: #080;
	border: 1px solid #000;
        z-index: 1000;
}

#leftnav ul {
	/*/*/padding: 0em;
	margin-left: 0em;
	margin-right: 0em;
	list-style-type: none; /* */
}

#leftnav li {
	/*/*/margin: 0px 0px -1px 10px; /* */
}

#current a {
	color: #FFFFFF !important;
	/*/*/background-color: #999999 !important;
	border: 2px dotted #999 !important; /* */
}

#minicart {
	font-size: 12px;
}

.entryTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #DDDDDD;
}

.entryTableHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #7F92A4;
	font-weight: bold;
	background-position: center;
}

.entryTable .label {
	background-color: #EFEFEF;
}

.entryTable .content {
	background-color: #FFFFFF;
}


.infoTable {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #DDDDDD;
}

.infoTableHeader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #7F92A4;
	font-weight: bold;
	background-position: center;
}

.infoTable .label {
	background-color: #EFEFEF;
}

.infoTable .content {
	background-color: #FFFFFF;
}

.box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid #336699;
}

.notice {
	color: #996600;
	font-weight: bold;
}

.addToCartButton {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#FFF;
	font-weight:bold;
	border: 1px solid #336699;
	background-color: #e07f48;
}

#errorMessage {
	color: #990000;
	font-weight: bold;
}

.question {
    border: 1px solid #7F92A4;
    padding: 0px 4px 0px 4px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.row1 {
    background-color: #eee;
}
.row2 {
    background-color: #ddd;
}
#listTableHeader {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #a22;
    font-weight: bold;
    background-position: center;
}
h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #a22;
    font-variant: small-caps;  
}

.detailTable {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #a22;
    border: 1px solid gray;
    border-bottom: 0px;
    border-left: 0px;
}
.detailTable tr td {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
.detailTable .label {
    background-color: #EFEFEF;
}
.detailTable .content {
    background-color: #FFFFFF;
}

a {
    color: rgb(170, 34, 34);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(250, 44, 44);
}

a:visited {
    color: rgb(110, 34, 34);
}

a:visited:hover {
    color: rgb(250, 44, 44);
}

.footer{
    width: 600px;
    margin: 0 auto 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: rgb(95,100,90);
}

.footerLinks {
    margin: 25px 0px 25px 0px;
}

.footerLinks a {
    margin: 0px 10px 0px 10px;
}

.footerBar {
    text-align:center;
    border-bottom: 1px solid gray;
    width: 35em;
    margin: 0 auto;
    padding-bottom: 5em;
}

.policies {
    text-align: left;
    margin: 10px;
}

.policies h2 {
    font-variant: normal;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0px;
}

.policyText {
    margin-bottom: 40px;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: .8em;
}

input[type=submit]{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid #336699;
}

/******* popup *******/

.modal_popup_background {
    position: fixed;
	display: none;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	top: 0px;
	left: 0px;
}

.popup {
    position: fixed;
	display: none;
	margin: 0 auto;
	z-index: 100;
	overflow: hidden;
	left: 40%;
	top: 100px;
	padding: 5px;
	border-radius: 10px;
	background-color: #FFF;
}

.content_wrapper {
    position: relative;
}

.close_btn {
    position: absolute;
	top: 3px;
	right: 3px;
}

.text_container {
    padding: 3px;
}