html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
div#counter * {
    box-sizing: content-box;
}
.wrapper_new * {
    box-sizing: content-box;
}
body.cms-home
@media all {
    *, *:before, *:after {
        /* -webkit-box-sizing: border-box; */

        /* box-sizing: border-box; */
        margin: 0;
        padding: 0;
    }
    .std p {
        margin: 0 0 0;
    }

.socials{
  /*  display: inline-flex;*/
    display: none;
}

}


body.cms-home {
    line-height: 1;
    font-family: "pfdlight", sans-serif;
    background: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: 'pfdlight';
    src: url('../fonts/pfdintextcomppro-light-webfont.eot');
    src: url('../fonts/pfdintextcomppro-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-light-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-light-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-light-webfont.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pfdreg';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-regular-webfont.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrapper_new {
    max-width: 1200px;
    width: 100%;
    height: 1462px;
    position: relative;
    margin: 0 auto;
}

.chief {
    position: absolute;
    left: 409px;
    top: 148px;
    width: 30%;
}

.chief img {
    width: 100%;
}

.sportsmen {
    width: 409px;
    height: 645px;
    background: url('../img/sportsmen.png');
    position: absolute;
    top: 746px;
    left: 49px;
}

.cocktail1 {
    background: url("../img/cocktail.png");
    width: 117px;
    height: 114px;
    position: absolute;
    top: 641px;

    left: 399px;
}

.cocktail2 {
    background: url("../img/cocktail2.png");
    width: 165px;
    height: 157px;
    position: absolute;
    top: 730px;

    right: 209px;
}

.shape {
    background: url("../img/shape.png");
    width: 186px;
    height: 207px;
    position: absolute;
    bottom: 290px;
    right: 67px;
}

.lunches {
    width: 280px;
    bottom: 50%;
    line-height: 40px;
    position: absolute;
    right: 349px;
    color: #00a2ce;
    font-size: 38px;
    left: 1%;
}

.lunches img {
    margin: 0 8px 0 8px;
    display: initial;
}

.footer_nav {
    position: absolute;
    bottom: 27px;
    left: 20%;
    bottom: 92%;
}

.footer_nav ul {
    float: left;
}

.footer_nav ul li {
    display: inline-block;
    border-radius: 3px;
    background: #7EB2BD;
    color: #ffffff;
    margin: 0;
    font-size: 27px;
    font-family: "pfdreg", sans-serif;
    cursor: pointer;
}

.footer_nav ul li:hover {
    background: #529fb7;
}

.footer_nav ul li + li {
    margin-left: 57px;
}

.footer_nav ul li a {
    display: block;
    padding: 19px 45px;
    text-decoration: none;
    color: #ffffff;
}

.socials {
    float: right;
    margin: 14px 0 0 6px;
}

.socials a:hover {
    opacity: 0.7;
}

#menu_new {
    width: 325px;
    height: 173px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 255px;
    left: auto;
    padding: 25px 30px;
}

#menu_new a {
    display: block;
    text-decoration: none;
}

.new {
    background: #5bb800 url('../img/plus.png') 34px 15px;
    background-repeat: no-repeat;
    padding: 16px 0 18px 119px;
    font-family: pfdreg, sans-serif;
    font-size: 31px;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 24px;
}
.new_1 {
    background: #5bb800 /*url('../img/plus.png') 34px 15px*/;
    background-repeat: no-repeat;
    padding: 16px 0 18px 119px;
    font-family: pfdreg, sans-serif;
    font-size: 31px;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 24px;
}
.return {
    background: #519fb7 url('../img/arr.png') 24px 21px;
    background-repeat: no-repeat;
    padding: 27px 0 23px 102px;
    font-family: pfdreg, sans-serif;
    font-size: 31px;
    border-radius: 3px;
    color: #ffffff;
    margin-bottom: 24px;
}

#menu_new a:hover span {
    border-bottom: 1px dashed #ffffff;
}

#counter {
    position: absolute;

    top: 254px;
    right: 0;
    padding: 26px 30px;
    background: rgba(255, 255, 255, 0.3);
}

#counter .inner {
    background: #507fb7;

    color: #ffffff;
    font-size: 30px;
    padding: 20px 20px;
    width: 278px;
}

#counter .inner span {
    position: absolute;
    top: 134px;
    right: 76px;
}

#counter .count_text {

}

#counter .counter {
    /*background: url('../img/counter.png');*/
    width: 136px;
    height: 70px;
    margin: 16px 0 3px 60px;
}

#counter .orders_left {
    text-align: center;

}

#counter .orders_left .orders_number {
    padding-top: 10px;
    background: url("../img/dashed_border.png");
    width: 65px;
    height: 51px;
    margin: 8px auto 0 auto;
    font-family: "Shadows Into Light", cursive;
    box-sizing: border-box;
}

@media only screen and (min-width: 981px) {
    .lunches {
        width: 280px;
        bottom: 50%;
        line-height: 40px;
        position: absolute;
        right: 349px;
        color: #00a2ce;
        font-size: 38px;
        left: 1%;
    }

}


@media only screen and (max-width: 980px) {
    .wrapper_new {
        max-width: 980px;
        width: 100%;
        overflow-x: hidden;
    }

    #menu_new {
        width: 261px;
        padding: 21px 24px;
        height: 138px;
    }

    .new {
        background: #5bb800 url('../img/plus.png') 29px 11px;
        background-repeat: no-repeat;
        background-size: 24px;
        padding: 12px 0 14px 97px;
        font-family: pfdreg, sans-serif;
        font-size: 25px;
        border-radius: 3px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .new_1 {
        background: #5bb800 /*url('../img/plus.png') 29px 11px*/;
        background-repeat: no-repeat;
        background-size: 24px;
        padding: 12px 0 14px 97px;
        font-family: pfdreg, sans-serif;
        font-size: 25px;
        border-radius: 3px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .return {
        background: #519fb7 url('../img/arr.png') 21px 17px;
        background-repeat: no-repeat;
        background-size: 28px;
        padding: 20px 0 14px 83px;
        font-family: pfdreg, sans-serif;
        font-size: 25px;
        border-radius: 3px;
        color: #ffffff;
    }

    .chief {
        position: absolute;
        left: 281px;
        top: 170px;
        width: 40%;
    }

    #counter {
        top: 254px;
        right: -7px;
        padding: 22px 25px;
    }

    #counter .inner {
        font-size: 23px;
        padding: 17px 21px;
        width: 220px;
    }

    #counter .counter {
        margin: 14px 0 -10px 44px;
        background-size: 110px;
        background-repeat: no-repeat;
    }

    #counter .inner span {
        top: 109px;
        right: 68px;
    }

    #counter .orders_left .orders_number {
        padding-top: 14px;
    }

    #counter .orders_left .orders_number {
        padding-top: 8px;
        padding-right: 15px;
        width: 65px;
        height: 51px;
        margin: 6px auto -8px auto;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 52px;
    }

    .sportsmen {
        top: 732px;
        left: -15px;
    }

    .cocktail1 {
        left: 290px;
    }

    .cocktail2 {
        right: 152px;
    }

    .shape {
        right: 3px;
    }

    .lunches {
        right: 123px;
    }

   /* .footer_nav {
        bottom: 91%;
        left: 12%;
    }*/

   /* .socials {
        margin: 14px 0 0 27px;
    }*/

    .footer_nav ul li a {
        padding: 13px 12px;
    }

}


@media only screen and (max-width: 768px) {
    .wrapper_new {
        max-width: 768px;
        width: 100%;
    }

    .chief {
        top: 13px;
        left: 38px;
        width: 50%;
    }

    #menu_new {
        top: 88px;
        right: 0;
        left: auto;
    }

    .return {
        padding: 20px 0 20px 83px;
    }

    #counter {
        top: 268px;
        right: -3px;
    }

    #counter .inner span {
        top: 109px;
        right: 65px;
    }

    .sportsmen {
        top: 575px;
        right: 5px;
        left: auto;
    }

    .cocktail1 {
        top: 683px;
        left: 16px;
    }

    .cocktail2 {
        bottom: 317px;
        left: 197px;
        top: auto;
        width: 15%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .shape {
        left: 15px;
        width: 25%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .lunches {
        bottom: 510px;
        left: 50px;
    }

    /*.footer_nav {
        bottom: 94%;
        left: 17%;
    }*/

    .footer_nav ul li + li {
        margin-left: 27px;
    }

    .footer_nav ul li a {
        padding: 8px 13px;
    }

    .socials {
        margin: 4px 0 0 25px;
    }
}
/*@media only screen and (min-width: 500px) {

    .footer_nav {
        position: absolute;
        bottom: 27px;
        left: 20%;
        bottom: 94%;
    }
}*/
@media only screen and (max-width: 760px) {
    .socials {
        margin: 4px 0 0 11px;
        display: none;

    }
     .footer_nav {
       bottom: 94%;

       left: 10%;
   }

}
@media only screen and (max-width: 720px) {
   .wrapper_new {
       max-width: 768px;
       width: 100%;
   }

   .chief {
       top: 13px;
       left: 38px;
       width: 50%;
   }

   #menu_new {
       top: 88px;
       right: 0;
       left: auto;
   }

   .return {
       padding: 20px 0 20px 83px;
   }

   #counter {
       top: 268px;
       right: -3px;
   }

   #counter .inner span {
       top: 109px;
       right: 65px;
   }

   .sportsmen {
       top: 575px;
       right: 5px;
       left: auto;
   }

   .cocktail1 {
       top: 683px;
       left: 16px;
   }

   .cocktail2 {
       bottom: 317px;
       left: 197px;
       top: auto;
       width: 15%;
       background-size: 100%;
       background-repeat: no-repeat;
   }

   .shape {
       left: 15px;
       width: 25%;
       background-size: 100%;
       background-repeat: no-repeat;
   }

   .lunches {
       bottom: 510px;
       left: 50px;
   }

  /* .footer_nav {
       bottom: 94%;

       left: 10%;
   }
*/
    .footer_nav ul li + li {
        margin-left: 27px;
    }

    .footer_nav ul li a {
        padding: 8px 13px;
    }

   /* .socials {
        margin: 4px 0 0 25px;
    }*/
}

@media only screen and (max-width: 590px) {
    .wrapper_new {
        max-width: 590px;
        width: 100%;
    }

    .chief {
        right: 85px;
    }

    #menu_new {
        width: 235px;
        height: 123px;
    }

    .new {
        padding: 10px 0 12px 85px;
        font-size: 23px;
        border-radius: 3px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .new_1 {
        padding: 10px 0 12px 85px;
        font-size: 23px;
        border-radius: 3px;
        color: #ffffff;
        margin-bottom: 20px;
    }
    .return {
        padding: 18px 0 18px 74px;
        font-size: 23px;
        border-radius: 3px;
    }

    #counter {
        top: 253px;
        right: -2px;
        padding: 19px 25px;
    }

    #counter .inner {
        font-size: 21px;
        padding: 16px 15px;
        width: 205px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .counter {
        width: 98px;
        height: 55px;
        margin: 12px 0 0 44px;
        background-size: 98px;
    }

    #counter .orders_left .orders_number {
        padding-top: 9px;
        padding-right: 13px;
    }

    .sportsmen {
        width: 326px;
        height: 525px;
        background: url('../img/sportsmen.png');
        position: absolute;
        background-size: 326px;
        background-repeat: no-repeat;
        top: 678px;
        right: 2px;
    }

    .cocktail1 {
        top: 531px;
        left: auto;
        right: 51px;
    }

    .lunches {
        width: 228px;
        bottom: 47%;
        line-height: 41px;
        left: 28px;
        font-size: 35px;
    }

    .lunches img {
        margin: 0 7px 0 6px;
        width: 43px;
    }

    .shape {
        background-size: 120px;
        background-repeat: no-repeat;
        height: 207px;
        position: absolute;
        bottom: 328px;
        left: 21px;
    }

    .cocktail2 {
        background-repeat: no-repeat;
        background-size: 111px;
        position: absolute;
        bottom: 258px;
        left: 129px;
    }

    .footer_nav ul li + li {
        margin-left: 18px;
    }

    .footer_nav ul li a {
        padding: 15px 19px;
        font-size: 15px;
    }

   /* .footer_nav {
        bottom: 169px;
    }
*/
    /*.socials {
        margin: 8px 0 0 14px;
    }*/

}

@media only screen and (max-width: 480px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 480px;
        width: 100%;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 80px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 213px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        width: 228px;
        bottom: 394px;
        line-height: 38px;
        left: 10px;
        font-size: 35px;
    }

    .shape {
        bottom: 160px;
    }

    .cocktail2 {
        bottom: 84px;
        left: 92px;
        width: 100%;
    }

    .socials img {
        width: 31px;
    }


    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 17px;
    }

   /* .socials {
        position: relative;

        top: 20px;
    }*/

    .cocktail1 {
        background-repeat: no-repeat;
        background-size: 101px;
        height: 114px;
        top: auto;
        bottom: 555px;
        left: auto;
        right: 46px;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 592px;
        right: -32px;
    }
}

@media only screen and (max-width: 462px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 480px;
        width: 100%;
        height: 1151px;
        overflow-x: hidden;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 74px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 207px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        width: 228px;
        bottom: 516px;
        line-height: 38px;
        left: 10px;
        font-size: 35px;
    }

    .shape {
        bottom: 160px;
    }

    .cocktail2 {
        bottom: 84px;
        left: 92px;
        width: 100%;
    }

    .socials img {
        width: 31px;
    }

    .footer_nav {
        bottom: 94%;
        left: 5%;
    }

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 17px;
    }

    .socials {
        margin: 6px 0 0 5px;
    }

    .cocktail1 {
        background-repeat: no-repeat;
        background-size: 101px;
        height: 114px;
        top: auto;
        bottom: 555px;
        left: auto;
        right: 46px;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 592px;
        right: -32px;
    }
}

@media only screen and (max-width: 414px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 77px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 210px;
        padding: 15px 19px;
    }


    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }



    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 45%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 75%;
        width: 25%;
    }

    .socials img {
        width: 31px;
    }

   /* .footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 15px;
    }

   /* .socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }*/

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 590px;
        right: 24px;
    }

    .chief img {
        width: 114%;
        left: -16%;
        top: -22px;
        position: relative;
    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: 7px;
        position: relative;
        top: -2px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 52px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 185px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 45%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 75%;
        width: 25%;
    }

    .socials img {
        width: 31px;
    }

   /* .footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 16px;
    }

    /*.socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }*/

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 590px;
        right: 24px;
    }

    .chief img {
        width: 114%;
        left: -16%;
        top: -22px;
        position: relative;

    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: -16px;
        position: relative;
        top: -2px;
    }
}

@media only screen and (max-width: 384px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 52px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 185px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 38%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 75%;
        width: 25%;
    }

    .socials img {
        width: 31px;
    }

   /* .footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 14px;
    }

    /*.socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }*/

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 590px;
        right: 2px;
    }

    .chief img {
        width: 103%;
        left: -23%;
        position: relative;
        display: none;
    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: 12px;
        position: relative;
        top: -3px;
    }
}

@media only screen and (max-width: 375px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 75px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 208px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 45%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 75%;
        width: 25%;
    }

    .socials img {
        width: 31px;
    }

  /*  .footer_nav {
        bottom: 21px;
    }
*/
    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 14px;
    }

/*    .socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }*/

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 590px;
        right: 2px;
    }

    .chief img {
        width: 103%;
        left: -23%;
        position: relative;
    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: 12px;
        position: relative;
        top: -3px;
    }
}

@media only screen and (max-width: 360px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 77px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 210px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 44%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 75%;
        width: 25%;
    }

    .socials img {
        width: 31px;
    }

    /*.footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 11px;
    }

   /* .socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }*/

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
        display: none;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 590px;
        right: 2px;
    }

    .chief img {
        width: 103%;
        left: -23%;
        position: relative;
    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: 2px;
        position: relative;
        top: -8px;
    }
}

@media only screen and (max-width: 320px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 77px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 210px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }
    .lunches {
        position: absolute;
        top: 45%;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
    }

    .cocktail2 {
        left: 82%;
    }

    .socials img {
        width: 31px;
    }

   /* .footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 8px;
    }

    .socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 592px;
        right: -32px;
    }

    .chief img {
        width: 88%;
        left: -29%;
        position: relative;
    }

    .footer_nav ul li {
        display: inline-table;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: -20px;
        position: relative;
        top: 1px;
    }
}

@media only screen and (max-width: 213px) {
    body {
        background: url("../img/back2.jpg");
    }

    .wrapper_new {
        max-width: 100%;
        width: 100%;
        overflow-x: hidden;
        height: 1151px;
    }

    .chief {
        background-size: 312px;
        background-repeat: no-repeat;
        right: -24px;
        top: 33px;
    }

    #menu_new {
        width: 195px;
        height: 103px;
        top: 28px;
        right: 0;
        padding: 15px 16px;
    }

    .new {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .new_1 {
        background-size: 19px;
        padding: 11px 0 12px 72px;
        font-size: 18px;
        margin-bottom: 14px;
    }
    .return {
        background-size: 21px;
        padding: 16px 0 13px 62px;
        font-size: 18px;
        border-radius: 3px;
        margin-bottom: 14px;
    }

    #counter {
        top: 185px;
        padding: 15px 19px;
    }

    #counter .inner {
        font-size: 18px;
        padding: 12px 11px;
        width: 169px;
    }

    #counter .counter {
        height: 44px;
        margin: 8px 0 0 36px;
        background-size: 79px;
    }

    #counter .inner span {
        top: 77px;
        right: 51px;
    }

    #counter .orders_left .orders_number {
        padding-top: 6px;
        padding-right: 28px;
        width: 65px;
        height: 31px;
        margin: 4px 0 0 61px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: 40px;
    }

    .lunches {
        position: absolute;
        top: 38%;
        font-size: 26px;
    }

    .shape {
        bottom: 225px;
        width: 39%;
        left: 1%;
        display: none;
    }

    .cocktail2 {
        left: 82%;
    }

    .socials img {
        width: 31px;
    }

  /*  .footer_nav {
        bottom: 21px;
    }*/

    .footer_nav ul li + li {
        margin-left: 6px;
    }

    .footer_nav ul li a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .socials {
        margin: 6px 0 0 5px;
        right: 42%;
        top: 10px;
        position: relative;
    }

    .cocktail1 {
        top: 44%;
        left: 62%;
        position: absolute;
    }

    .sportsmen {
        background-size: 290px;
        background-repeat: no-repeat;
        top: 592px;
        right: -32px;
    }

    .chief img {
        width: 88%;
        left: -29%;
        position: relative;
        display: none;
    }

    .footer_nav ul li {
        display: table-cell;
        border-radius: 3px;
        background: #7EB2BD;
        color: #ffffff;
        margin: 0;
        font-size: 2px;
        font-family: "pfdreg", sans-serif;
        position: relative;
        cursor: context-menu;
        left: 15px;
    }

    body > div > footer > nav > ul {
        left: -20px;
        position: relative;
        top: 1px;
    }
}


/*clock*/
#point_frontend_digital_clock {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 3px;
    padding-right: 4px;
}
div#frontend_digital_clock {
    margin-left: -5%;
 }
#frontend_digital_clock > ul li {
    display: table-cell;
    font-size: 2em;
    text-align: center;

    text-shadow: 0 0 5px #B1C3C7;
    color: white;
    font-family: fantasy;
}

/*
@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }
}*/
/*@media screen and (min-width: 986px) {
    li#half {
        position: relative;
        float: right;
        top: -41px;
        left: 78px;
    }
}*/
/*
@media screen and (min-width: 968px) {
    li#half {
        position: relative;
        float: right;
        top: -46px;
        left: 96px;
    }
}

@media screen and (max-width: 968px) {
    li#half {
        position: relative;
        float: right;
        top: -31px;
        left: 36px;
    }
}
*/
/*
@media screen and (max-width: 768px) {
    li#half {
        position: relative;
        float: right;
        top: -31px;
        left: 36px;
    }
}
@media screen and (max-width: 589px) {
    li#half {
        position: relative;
        float: right;
        top: -31px;
        left: 61px;
    }
}
@media screen and (max-width: 500px) {
    li#half {
        position: relative;
        float: right;
        top: -31px;
        left: 61px;
    }


}
@media screen and (max-width: 500px) {
    li#half {
        position: relative;
        float: right;
        top: -27px;
        left: 40px;
    }


}*/






